[Desktop Entry]
Name=meoRemote
Comment=Remote controller for meoBox
Comment[pt]=Controlador remoto da meoBox
Exec=meoRemote
Icon=meoRemote.png
Type=Application
Categories=Utility
Terminal=false

